################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1
/Lab1/Lab1/obj
