################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1
/Lab1/Lab1/obj
/Lab1/Lab1/bin/Debug
/Lab1/Lab1_2/bin/Debug
/Lab1/Lab1_2/obj/Debug
/Lab1/Lab1_3/obj/Debug
/Lab1/Lab1_4/bin/Debug
/Lab1/Lab1_4/obj/Debug
